html {
  margin: 0;
  padding: 0;
  font-size: 65%;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h3 {
  font-size: 20px;
  color: #4c5859;
  font-weight: 300;
}

h3.semi-bold {
 font-weight: 400;
}

h3.top {
  margin-top: 55px;
  margin-bottom: 7px;
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

hr {
  margin: 0;
  border: 1px solid #e1e7e6;
}

header {
  background: #fff;
}

@media all and (min-width: 1400px) {
  header {
    margin: 0px auto;
    width: 1400px;
  }
}

@media all and (max-width: 1399px) {
  header {
    padding: 25px 40px;
  }
}

header h1 {
  display: inline
}

header .nav a {
  font-size: 16px;
  color: #4c5859;
  text-decoration: none;
}

header a:hover {
  opacity: 0.8;
}

header .right {
  float: right;
  display: flex;
  align-items: center;
  height: 41px;
}

header .right .nav {
  margin: 0 10px;
}

#search-header {
  max-height: 35px;
  overflow: hidden;
  transition: all 500ms ease-in;
}

#search {
  width: 100%;
  background: #fff;
  margin: 0;
}

header h1 {
  color: #4c5859;
  font-weight: 600;
  font-size: 30px;
  padding: 0 10em .1em 0;
  margin: 0;
  background-image: url('/images/search-icon.svg');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 61px 52%;
}

header a {
  text-decoration: none;
}

#search-box {
  width: 778px;
  max-width: 69%;
  margin: 25px auto;
  transition: all 500ms ease-in;
}


#search h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  color: #4c5859;
}

#search input {
  width: 100%;
  margin: 0 auto;
  color: #89a19d;
  padding: 8px;
  font-size: 16px;
  background: #fff;
  border-radius: 40px;
  border: 1px solid #e1e7e6;
  padding-left: 35px;
  background: url("images/small-search.svg") no-repeat scroll 10px 10px;
}

textarea, input {
  outline: none;
  padding: 5px;
}

::-webkit-input-placeholder {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #89a19d;
}

#result-container {
  display: none;
  flex-grow: 1;
  margin: 25px auto;
}

#result-container table.list {
  border-collapse: collapse;
}

@media all and (min-width: 1400px) {
  #result-container table.list {
    width: 1400px;
  }
}

#result-container table thead th {
  height: 32px;
  border-bottom: 1px solid #e1e7e6;
  border-top: 1px solid #e1e7e6;
  margin: 0;
  text-align: left;
  padding-left: 20px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #89a19d;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: normal;
}

#result-container table thead a {
  text-decoration: none;
  color: #89a19d;
}

#result-container table thead th.score img {
  margin-left: 5px;
}

#result-container table.list thead th:nth-child(2) {
  width: 500px;
}

#result-container table tbody tr {
  border-bottom: 1px solid #e1e7e6;
}

#result-container table tbody td {
  border-bottom: 1px solid #e1e7e6;
  height: 80px;
  padding-left: 20px;
  padding-bottom: 30px;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  color: #4c5859;
}

#result-container table tbody.total td,
#result-container table tbody.total tr {
  border-bottom: none;
  height: 0px;
  padding-bottom: 0;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #89a19d;
}

table tbody td  a.homepage {
  font-size: 20px;
  font-weight: 300;
  color: #4c5859;
  text-decoration: none;
}

table tbody td p.description {
  font-size: 12px;
  font-weight: 300;
  color: #89a19d;
  max-width: 430px;
  margin-top: 0;
}

table tbody td img.tag {
  height: 13px;
}

table tbody td ul.keywords {
  margin: 0;
  padding: 0;
  display: inline-block;
}

table tbody td li.keyword {
  font-size: 10px;
  padding: 0;
  margin: 0 10px 0 0;
  list-style: none;
  display: inline-block;
  color: #d8d8d8;
}

table tbody td li.keyword a {
  color: #d8d8d8;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

table tbody td li.keyword a:hover {
  text-decoration: underline;
}

table tbody td a.author {
  text-decoration: none;
  color: #4c5859;
}

#result-container table tbody td.score {
  font-size: 16px;
  opacity: 0.8;
  padding-left: 20px;
}

#result-container table tbody td .badge {
  background-color: lightblue;
  width: 70px;
  height: 30px;
  padding: 0 10px;
  border-radius: 2px;
  align-items: center;
  display:flex;
  color: white;
}

#result-container table tbody td.score .badge span {
  height: 100%;
  line-height: 30px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left:6px;
  margin-left: 6px;
  font-weight: 300;
}

#main-copy {
  flex-grow: 1;
}

#results {
  width: 90%;
  min-width:550px;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 2em;
}

li h2 {
  margin: 0;
  display:inline;
}

li.result {
  color: #fefefe;
  padding: 1em;
  text-align: left;
  border-radius: 3px;
  background: #fff;
  padding-left: 6em;
  font-size: 2em;
  padding-right: 2em;
  position: relative;
  margin-top:1em;
}

tr.result#selected {
  background: #f6f6f7;
}

#searching {
  display:none;
  width:70%;
  margin:0 auto;
  padding:2em;
  text-align:center;
  background: #fff;
  height: 500px;
}

#searching img {
  height: 100px;
}

body.searching #searching {
  display:block;
}

body.searching #result-table {
  display: none;
}

#result-container table tbody td#score {
  width: 105px;
}

#result-container table tbody td#name {
  width: 40%;
}

#result-container table tbody td#version {
  width: 120px;
}

#result-container table tbody td#author {
  width: 25%;
}

#result-container table tbody td#update {
  width: 120px;
}

div.score div.num {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  margin-left: 10px;
  line-height: 30px;
}

h2.name {
  margin-bottom: 0;
}

span.timestamp {
  content: '20 days ago';
}

li p {
  margin: .25em 0;
  color: #bbb;
  position: relative;
  top: 0;
  left: 0em;
  color: rgb(209, 209, 209);
}

section#intro a {
  color: #828a8b;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Source Code Pro';
}

#intro p.description {
  font-size: 12px;
  color: #4c5859;
  letter-spacing: 1.7px;
  margin: 6px 0 21px;
  text-transform: uppercase
}

ul.licenses {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1.5em;
  right: 3em;
  font-size: 1em;
  color: #aaa;
  display:none;
}

li.license {
  padding: 0;
  margin: 0 10px 0 0;
  display: inline;
}

footer {
  font-size: 2em;
  text-align: center;
  font-weight: 300;
  background: #4c5859;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f6f6f7;
}

footer #copyright {
  display: flex;
  height: 90px;
}

footer .powered-by {
  display: flex;
  align-items: center;
  margin: auto;
}

footer .powered-by span {
  width: 100px;
  letter-spacing: 2px;
  color: #f6f6f7;
}

footer .powered-by img {
  height: 26px;
}

#keyContainer {
  background:transparent;
}
#keyHeader {
  width: 50%;
  color: #C8C8C8;
  font-weight: normal;
  font-size: 3.5em;
  padding: 0px;
  margin: 0 auto;
}
#keyBody {
  width:60%;
  color: #4c5859;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 2px;
  padding: 40px;
}


#keyBody span {
  display: block;
  color: #4c5859;
  font-size: 15px;
  margin: 10px;
}

#keyBody span .small {
  font-size: 12px;
}

#keyBody span div.key {
  display: inline-block;
  background: #4c5859;
  color: white;
  padding: 0 5px;
  border-radius: 2px;
  margin: 0 5px;
}

#keyBody span div.key.text {
  padding-bottom: 3px;
}

#keyBody span div.key img {
  width: 11px;
}

#keyBody span div.key img.down {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
section#intro {
  width: 100%;
  text-align: center;
  margin:0 auto;
  font-size: 2em;
  color:#C8C8C8;
  background: #f6f6f7;
  border-radius:2px;
  flex-grow: 1;
}

/* About Page */
.about #main-copy {
  padding: 40px;
  color: #4c5859;
}

.about #main-copy h1 {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
}

.about #main-copy h2 {
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about #main-copy a {
  text-decoration: none;
  color: #3fa4ff;
}

.about #main-copy p {
  max-width: 650px;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 10px;
}

.about #main-copy ul {
  max-width: 650px;
  line-height: 1.6;
  color: #4c5859;
  padding-left: 14px;
}

.about #main-copy ul li {
  font-size: 14px;
}

.about #main-copy ul li span {
  font-size: 20px;
}
